.item {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.flex {
  display: flex;
  font-size: 32px;
  line-height: 25.6px;
  letter-spacing: -0.04em;
  justify-content: center;
  color: #fff7;
  transition: 0.3s;
  height: 22px;
  span {
    padding-top: 9px;
    @media (min-width: 768px) {
      padding-top: 4px;
    }
  }
  @media (min-width: 768px) {
    font-size: 48px;
    height: 34px;
    line-height: 38.4px;
    letter-spacing: -0.04em;
  }
  svg {
    opacity: 0;
    transition: 0.3s;
    /* transform: translateX(-20px); */
  }
}

.item:first-child {
  margin-bottom: 59px;
}
.item:last-child {
  margin-top: 64px;
}
.flex:hover {
  color: #fff;
  svg {
    opacity: 1;
    /* transform: translateX(0px); */
  }
}

.right {
  rotate: 180deg;
  position: relative;
  left: 2px;
}
