@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  src: url("./fonts/HelveticaNeueCyr-Roman.woff2");
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("./fonts/HelveticaNeueCyr-Medium.woff2");
  font-family: "Helvetica Neue";
  font-weight: 500;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  color: #0c0c0c;
  background: var(--background);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --primary: #0c0c0c;
    --accent: #ff502f;
    --secondary: #868686;
    --accent-opacity: rgba(255, 80, 47, 0.6);
    --grey: #c8c8c8;
    --light-grey: #d9d9d9;
    --background: #f9f9f9;
    --white-100: #fff;
    --white-90: rgba(255, 255, 255, 90%);
    --white-30: rgba(255, 255, 255, 30%);
    --white-20: rgba(255, 255, 255, 20%);
    --white-10: rgba(255, 255, 255, 10%);
    --white-5: rgba(255, 255, 255, 5%);
    --bg-opacity: rgba(0, 0, 0, 50%);
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary-foreground: 210 40% 98%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.examples {
  .swiper-slide-prev,
  .swiper-slide-next {
    transition: 0.3s;
    height: 180px !important;
    @media (min-width: 640px) {
      width: 25% !important;
      height: 210px !important;
    }
    @media (min-width: 1024px) {
      height: 500px !important;
    }
    @media (min-width: 1800px) {
      width: 33% !important;
    }
    @media (min-width: 2200px) {
      width: 36% !important;
    }
    @media (min-width: 2400px) {
      width: 25% !important;
    }
  }

  .swiper-slide-active {
    height: 180px !important;
    transition: 0.3s;
    @media (min-width: 640px) {
      height: 300px !important;
      width: 70% !important;
    }
    @media (min-width: 1024px) {
      height: 590px !important;
    }
    @media (min-width: 1800px) {
      width: 55% !important;
    }
    @media (min-width: 2200px) {
      width: 50% !important;
    }
    @media (min-width: 2400px) {
      width: 40% !important;
    }
  }
}

.AccordionTrigger[data-state="open"] .menu {
  > div:nth-child(2) {
    opacity: 0;
  }
  > div:nth-child(1) {
    transform: rotate(44deg) translate(3px, 8px);
  }
  > div:nth-child(3) {
    transform: rotate(-44deg) translate(3px, -8px);
  }
}

/* styles/nprogress.css */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--accent); /* Цвет полоски загрузки */
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}
