.bg {
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(70px);
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  margin-top: -44px;
  width: 260px;
  @media (min-width: 768px) {
    width: 480px;
  }
}

.title {
  font-size: 48px;
  font-weight: 400;
  line-height: 38.4px;
  letter-spacing: -0.04em;
  text-align: center;
  margin-bottom: 24px;
}

.description {
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.04em;
  text-align: center;
  margin-bottom: 50px;
  @media (min-width: 768px) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 64px;
  }
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  opacity: 0px;
  text-transform: uppercase;
  svg {
    width: 3px;
    transition: 0.2s;
  }
  &:hover {
    svg:first-child {
      transform: translateX(-4px);
    }
    svg:last-child {
      transform: rotate(180deg) translate(-5px, 1px);
    }
  }
}

.left {
  transform: rotate(180deg) translate(-1px, 1px);
}

.bg_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  position: absolute;
  background-color: black;
}

.bg_container {
  position: relative;
  width: 100%;
  min-height: 100dvh;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 0 20px 20px;
}
